{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/files.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/user_files.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-sm-5 p-0 justify-content-start align-items-center">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div id="upload-file">
                     <fieldset class="form-group">
                        <div class="form-group mt-2 d-flex flex-column">
                            {{ form.file(class="form-control-file") }}
                            {% if form.file.errors %}
                                {% for error in form.file.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                     </fieldset>
                     <div class="form-group">
                        {{ form.submit(class="btn submit-button") }}
                     </div>
                </div>
            </form>
        </div>
        <div class="col justify-content-end align-items-center p-0">
            <div class="d-flex justify-content-start justify-content-sm-end align-items-center flex-wrap">
                <a href="{{ url_for('img2txt.imgtxt') }}", class="default-link">
                    <div class="d-flex flex-row align-items-center justify-content-center btn submit-button">
                        <p class="header-text m-0">Wróć do wyszukiwarki plików</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-7 p-0 mb-3 justify-content-start align-items-center">
            <div class="update-account-form w-100 p-3">
                <div class="fit-content-width mb-3">
                    <h2 class="h2-primary">
                        Twoje pliki
                    </h2>
                </div>
                {% if files_display.items|length > 0 %}
                    {% for file in files_display.items %}
                        <div class="d-flex flex-row align-items-center justify-content-between file-row p-1 mb-2">
                            <a href="{{ url_for('img2txt.file', file_name=file.name) }}" target=”_blank” class="default-link file-link">
                                <div class="file-name">
                                    <p class="m-0">{{ file.name }} </p>
                                </div>
                            </a>
                            <button type="button" class="btn btn-danger btn-sm ml-1 delete-button" data-toggle="modal" data-target="#deleteModal" data-filename="{{ file.name }}" data-url="{{ url_for('img2txt.delete_file', file_id=file.id, filename=file.name) }}">Usuń</button>
                        </div>

                    {% endfor %}
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content modal-content-own">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" class="modal-close-own">&times;</span>
                            </button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                            <form action="" method="POST" id="confirm-delete">
                                <input class="btn btn-danger" type="submit" value="Usuń">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="d-flex align-items-center justify-content-center mt-3">
                        {% for page_num in files_display.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                                {% if files_display.page == page_num %}
                                  <a class="btn btn-info" href="{{ url_for('img2txt.user_files', page=page_num) }}">{{ page_num }}</a>
                                {% else %}
                                  <a class="btn btn-outline-info" href="{{ url_for('img2txt.user_files', page=page_num) }}">{{ page_num }}</a>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div>
                        Nie masz żadnych plików
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock content %}