{% extends "base.html" %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/accounting_groups.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/files.css') }}">
<meta id="flaskData" data-accounting-url="{{ accounting_url }}" data-user-id="{{ user_id }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col p-0">
            <div class="fit-content-width mb-3">
                <h2 class="h2-primary">
                    Wyszukiwarka plików
                </h2>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col p-0">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta pretium mi, nec tempus augue fringilla nec. Praesent consectetur molestie mauris ac laoreet. Praesent viverra rhoncus lectus, a ultrices nibh vestibulum varius. Pellentesque varius augue id faucibus efficitur. Nulla vel lectus sed leo lobortis vehicula. Integer rhoncus mauris vitae neque suscipit iaculis. Praesent eu blandit mauris, non mollis dolor. Suspendisse potenti. Donec et suscipit orci, eu iaculis turpis. Donec eleifend mi nec enim porttitor, et iaculis est ultrices. Maecenas rutrum ut ex quis finibus. Proin quis neque leo. Suspendisse pulvinar massa vel lorem sollicitudin, et egestas erat accumsan. Suspendisse maximus, risus non ornare accumsan, quam magna tempor nisl, in gravida velit ante at nisi. Mauris ullamcorper ligula non tempor condimentum.
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-7 p-0 mb-3 justify-content-start align-items-center">
            <div class="update-account-form w-100 p-3">
                <div class="fit-content-width mb-3">
                    <h2 class="h2-primary">
                        Twoje grupy
                    </h2>
                </div>
                <div id="userGroups"></div>
                <button type="button" data-toggle="modal" data-target="#addGroupModal" class="btn submit-button">Dodaj grupę</button>

                <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content modal-content-own">
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="group-name" class="col-form-label">Nazwa grupy:</label>
                            <input type="text" class="form-control" id="group-name">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn submit-button" id="addGroupButton" data-dismiss="modal">Dodaj</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}